/************************************************************
*
*               CAROUSEL
*
************************************************************/

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    overflow: hidden;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.leftArrow{
    padding: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135);
}

.rightArrow{
    padding: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/************************************************************
*
*               PLAYER CARDS
*
************************************************************/

/* PLAYERS */
.grid-players{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
}

/*#region player card*/
.player-card article{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
}

.player-card h1,p{
    color: var(--accent2-color);
}

.player-card p{
    text-align: center;
}

.player-card .countryflag img{
    width: 30px;
    height: 20px;
}

/************************************************************
*
*               FOOTER
*
************************************************************/

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    justify-content:center;
    align-items:center;
    padding: 25px 50px;
    margin: 100px 0 0 0;
    display: flex;
}